# Preparing Dataset

In [1]:
%cd '/content/drive/MyDrive/Machine Learning/5. Building first model'

/content/drive/MyDrive/Machine Learning/5. Building first model

In [2]:
%ls

'Building First Predictive Model.ipynb'   train_bm.csv   train.csv

# Regression Model

In [3]:
#importing libraries 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data=pd.read_csv('train_bm.csv')

In [5]:
data.shape

(8523, 12)

In [6]:
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [7]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
from sklearn.utils import shuffle

# Shuffling the Dataset
data = shuffle(data, random_state = 42)

#creating 4 divisions
div = int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train = data.loc[:3*div+1,:]
test = data.loc[3*div+1:]

In [9]:
train.head()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
7503           FDI28       14.300  ...  Supermarket Type1          1743.0644
2957           NCM17        7.930  ...  Supermarket Type1           356.8688
7031           FDC14       14.500  ...  Supermarket Type1           377.5086
1084           DRC36          NaN  ...  Supermarket Type3          5778.4782
856            FDS27       10.195  ...  Supermarket Type1          2356.9320

[5 rows x 12 columns]

In [10]:
test.head()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
6391           DRM23        16.60  ...  Supermarket Type1          2586.6330
2895           FDM27          NaN  ...      Grocery Store           473.3838
6814           FDJ57          NaN  ...      Grocery Store           185.7582
7537           FDV08         7.35  ...  Supermarket Type1           587.2356
3425           NCA17        20.60  ...  Supermarket Type1          2684.5056

[5 rows x 12 columns]

In [11]:
# storing simple mean in a new column in the test set as "simple_mean"
test['simple_mean'] = train['Item_Outlet_Sales'].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
#calculating mean absolute error
from sklearn.metrics import mean_absolute_error as MAE

simple_mean_error = MAE(test['Item_Outlet_Sales'] , test['simple_mean'])
simple_mean_error

1355.4481105570344

In [13]:
# Mean Item Outlet Sales with respect to Outlet_Type
out_type = pd.pivot_table(train, values='Item_Outlet_Sales', index = ['Outlet_Type'], aggfunc=np.mean)
out_type

                   Item_Outlet_Sales
Outlet_Type
Grocery Store             332.606025
Supermarket Type1        2245.228499
Supermarket Type2        1938.684847
Supermarket Type3        3776.185098

In [14]:
# initializing new column to zero
test['Out_type_mean'] = 0

# For every unique entry in Outlet_Identifier
for i in train['Outlet_Type'].unique():
  # Assign the mean value corresponding to unique entry
  test['Out_type_mean'][test['Outlet_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Type'] == str(i)].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [15]:
#calculating mean absolute error
out_type_error = MAE(test['Item_Outlet_Sales'] , test['Out_type_mean'] )
out_type_error

1138.8026221064356

In [16]:
out_year = pd.pivot_table(train, values='Item_Outlet_Sales', index = ['Outlet_Establishment_Year'], aggfunc=np.mean)
out_year

                           Item_Outlet_Sales
Outlet_Establishment_Year
1985                             2547.909733
1987                             2160.883029
1997                             2200.803276
1998                              320.792473
1999                             2245.345807
2002                             2136.727766
2004                             2415.594646
2007                             2320.598343
2009                             1938.684847

In [17]:
# initializing new column to zero
test['Out_year_mean'] = 0

# For every unique entry in Outlet_Identifier
for i in train['Outlet_Establishment_Year'].unique():
  # Assign the mean value corresponding to unique entry
  test['Out_year_mean'][test['Outlet_Establishment_Year'] == i] = train['Item_Outlet_Sales'][train['Outlet_Establishment_Year'] == i].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [18]:
#calculating mean absolute error
out_year_error = MAE(test['Item_Outlet_Sales'] , test['Out_year_mean'] )
out_year_error

1267.26335489281

In [19]:
# Mean Item Outlet Sales with respect to Outlet_Location_Type
out_loc = pd.pivot_table(train, values = 'Item_Outlet_Sales', index = ['Outlet_Location_Type'], aggfunc = np.mean)
out_loc

                      Item_Outlet_Sales
Outlet_Location_Type
Tier 1                      1804.051997
Tier 2                      2288.475485
Tier 3                      2255.793325

In [20]:
# Initializing empty column
test['out_loc_mean'] = 0

# For every unique entry in Item_Identifier
for i in train['Outlet_Location_Type'].unique():
  # calculate and assign mean corresponding to the uniques entries
  test['out_loc_mean'][test['Outlet_Location_Type'] == str(i)] = train['Item_Outlet_Sales'][train['Outlet_Location_Type'] == str(i)].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [21]:
#calculating mean absolute error
out_loc_error = MAE(test['Item_Outlet_Sales'] , test['out_loc_mean'] )
out_loc_error

1348.8509267072286

In [22]:
# Mean Item_Outlet_Sales with respect to both Outlet_Location_Type and Outlet_Establishment_Year

In [23]:
combo = pd.pivot_table(train, values = 'Item_Outlet_Sales', index = ['Outlet_Location_Type','Outlet_Establishment_Year'], aggfunc = np.mean)
combo

                                                Item_Outlet_Sales
Outlet_Location_Type Outlet_Establishment_Year
Tier 1               1985                              344.882031
                     1997                             2200.803276
                     1999                             2245.345807
Tier 2               2002                             2136.727766
                     2004                             2415.594646
                     2007                             2320.598343
Tier 3               1985                             3776.185098
                     1987                             2160.883029
                     1998                              320.792473
                     2009                             1938.684847

In [24]:
# Initiating new empty column
test['Super_mean'] = 0

# Assigning variables to strings ( to shorten code length)
s2 = 'Outlet_Location_Type'
s1 = 'Outlet_Establishment_Year'

# For every Unique Value in s1
for i in test[s1].unique():
  # For every Unique Value in s2
  for j in test[s2].unique():
    # Calculate and Assign mean to new column, corresponding to both unique values of s1 and s2 simultaneously
    test['Super_mean'][(test[s1] == i) & (test[s2]==str(j))] = train['Item_Outlet_Sales'][(train[s1] == i) & (train[s2]==str(j))].mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [25]:
#calculating mean absolute error
super_mean_error = MAE(test['Item_Outlet_Sales'] , test['Super_mean'] )
super_mean_error

1140.0522313200124

# Classification Model

In [26]:
#importing libraries 
import pandas as pd 
import numpy as np
from sklearn.metrics import accuracy_score

In [28]:
data=pd.read_csv('train.csv')
data.shape

(891, 12)

In [29]:
data.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [30]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [31]:
from sklearn.utils import shuffle

# Shuffling the Dataset
data = shuffle(data, random_state = 42)

#creating 4 divisions
div = int(data.shape[0]/4)

# 3 parts to train set and 1 part to test set
train = data.loc[:3*div+1,:]
test = data.loc[3*div+1:]

train.shape, test.shape

((621, 12), (271, 12))

In [32]:
train.head()

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
709          710         1       3  ...  15.2458   NaN         C
439          440         0       2  ...  10.5000   NaN         S
840          841         0       3  ...   7.9250   NaN         S
720          721         1       2  ...  33.0000   NaN         S
39            40         1       3  ...  11.2417   NaN         C

[5 rows x 12 columns]

In [33]:
test.head()

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
667          668         0       3  ...   7.7750   NaN         S
571          572         1       1  ...  51.4792  C101         S
636          637         0       3  ...   7.9250   NaN         S
714          715         0       2  ...  13.0000   NaN         S
262          263         0       1  ...  79.6500   E67         S

[5 rows x 12 columns]

In [34]:
test['simple_mode'] = train['Survived'].mode()[0]
test['simple_mode'].head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

667    0
571    0
636    0
714    0
262    0
Name: simple_mode, dtype: int64

In [35]:
simple_mode_accuracy = accuracy_score(test['Survived'], test['simple_mode'])
simple_mode_accuracy

0.6346863468634686

In [36]:
gender_mode = pd.crosstab(train['Survived'],train['Sex'])
gender_mode

Sex       female  male
Survived
0             57   321
1            167    76

In [37]:
test['gender_mode'] = test['Survived']

# for every unique value in column
for i in test['Sex'].unique():
  # Calculate and Assign mode to new column, corresponding to unique values in "Sex"
  test['gender_mode'][test['Sex'] == str(i)] = train['Survived'][train['Sex'] == str(i)].mode()[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [38]:
gender_accuracy = accuracy_score(test['Survived'], test['gender_mode'])
gender_accuracy

0.7896678966789668